body {
  margin: 0;
  padding: 0;
}
#item1 {
  grid-area: first;
}
#item2 {
  grid-area: second;
}
#item3 {
  grid-area: third;
}
#item4 {
  grid-area: last;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "first second"
    "third last";
  grid-gap: 10px;
  background-color: #2196f3;
  padding: 10px;
  height: calc(100vh - 20px);
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#item1 {
  background-image: url(Loading.gif);
  animation-duration: 5s;
}

#item2 {
  background-image: url(Loading.gif);
  animation-duration: 5s;
}

#item3 {
  background-image: url(Loading.gif);
  animation-duration: 5s;
}

#item4 {
  background-image: url(Loading.gif);
  animation-duration: 5s;
}
